In [46]:
import pandas as pd

df=pd.read_csv('empty.csv')
df2=pd.DataFrame(columns=['name', 'amount'])
ind=0
s='percentage'
for i in range(0,2):
    for index, row in df.iterrows():
        l=[row['name'],row[s]]
        df2.loc[ind]=l
        ind=ind+1
    s='amount'
    
print(df2)

In [51]:
import pandas as pd
df=pd.read_csv('empty.csv')
df

  name  amount  percentage
0    A     100          50
1    B     100          25
2    C     200         100

In [52]:
df1 = df[['name', 'amount']].copy()
df1

  name  amount
0    A     100
1    B     100
2    C     200

In [53]:
df2 = df[['name', 'percentage']].copy()
df2.columns = ['name', 'amount']
df2

  name  amount
0    A      50
1    B      25
2    C     100

In [54]:
df2.append(df1)

  name  amount
0    A      50
1    B      25
2    C     100
0    A     100
1    B     100
2    C     200